<mat-card>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">Product Name</th>
            <th scope="col">quentity</th>
            <th scope="col">Shipping address</th>
            <th scope="col">Confiremation</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td><button mat-flat-button color="primary">Confirme order</button></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
            <td><button mat-flat-button color="primary">Confirme order</button></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td><button mat-flat-button color="primary">Confirme order</button></td>
          </tr>
        </tbody>
      </table>
</mat-card>