<header class="page-footer font-small unique-color-dark">
    <div style="background-color: #ffffff;">
      <div class="container">
        <div class="row py-4 d-flex align-items-center">
          </div>
        </div>
      </div>
  </header>
  <br>
  <div class="container">

    <div class="col-sm">

      <mat-card [formGroup]="pricingform">
          <div>
              <mat-form-field class="example-full-width">
                <mat-label>Add a products(disabled)</mat-label>
                <input matInput disabled value="Import Details">
              </mat-form-field>
            
              <table class="example-full-width" cellspacing="0"><tr>
                <td><mat-form-field class="example-full-width">
                  <mat-label>Product Name</mat-label>
                  <input matInput formControlName="prName">
                </mat-form-field></td>
                <td><mat-form-field class="example-full-width">
                  <mat-label>Quantity</mat-label>
                  <input matInput formControlName="PrQuant">
                </mat-form-field></td>
              </tr></table>
              <table class="example-full-width" cellspacing="0"><tr>
                <td><mat-form-field class="example-full-width">
                  <mat-label>Estimate Price</mat-label>
                  <input matInput formControlName="esPrice">
                </mat-form-field></td>
                <td><mat-form-field class="example-full-width">
                  <mat-label>Condition</mat-label>
                  <input matInput placeholder="+94" formControlName="condition">
                </mat-form-field></td>
              </tr></table>
          </div>
          <br>
          <div class="btn">
          <button mat-raised-button color="primary" (click)='pricess()'>Submit details</button>
          </div>  
        </mat-card>
        <br>
        {{pricingform.value | json}}
  </div>

  </div>

