
<br>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <mat-card>
      <mat-card-title>
        <mat-label>
          <h1>
            Total Members
          </h1>
        </mat-label>
      </mat-card-title>
      <mat-card-subtitle>
        <h2>
          03
        </h2>
      </mat-card-subtitle>
      </mat-card>
    </div>
    <div class="col-sm">
      <mat-card>
        <mat-card-title>
          <mat-label>
            <h1>
             View Statements
            </h1>
          </mat-label>
        </mat-card-title>
        <mat-card-subtitle>
          <h2>
            03
          </h2>
        </mat-card-subtitle>
        </mat-card>
    </div>
    <div class="col-sm">
      <mat-card>
        <mat-card-title>
          <mat-label>
            <h1>
              View Map
            </h1>
          </mat-label>
        </mat-card-title>
        <mat-card-subtitle>
        <button mat-raised-button color="primary" (click)="openDialog()">Open Map</button>
        </mat-card-subtitle>
        </mat-card>
    </div>
  </div>
</div>
<br>
<div class="container">
<div class="row">
  <div class="col-sm">
    <div>
      <mat-card>
        <mat-card-title>
          <mat-label>
            <h1>
              Statisc
            </h1>
          </mat-label>
        </mat-card-title>
        <mat-card-content>
          <app-charts></app-charts>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="col-sm">
    <div>
      <mat-card>
        <mat-card-title>
          <mat-label>
            <h1>
              Statisc
            </h1>
          </mat-label>
        </mat-card-title>
        <mat-card-content>
          <app-piecharts></app-piecharts>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<br>
</div>