<div class="bg-light">
    <br>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-8">
          <div class="card mb-3 text-center bg-success text-white">
            <div class="card-body">
              <blockquote class="card-blockquote">
          <h4>MAJOR EXPORT MARKET</h4>
          <p>
            Processed food and fruits & vegetables sectors have been identified as a 
            sector with high potential in the world due to the increasing demand from 
            the end consumers and for value added products in the world market. 
          </p>
          <p>
            Sri Lanka exports both fresh and processed fruit and vegetables and 65% of 
            the fresh products are targeted to the Middle East and the Maldivian market. 
            Almost 100% of the processed products are exported to the European market. 
            United Arab Emirates, Saudi Arabia, Qatar, Maldives, India, United Kingdom, 
            Kuwait, Germany, and Pakistan are the top fruits & 
            vegetable importing countries from Sri Lanka.
          </p>
          <footer>Resource of
          <cite title="Source Title">EDB Srilanka</cite>
        </footer>
      </blockquote>
    </div>
    </div>
        </div>
        <div class="col-6 col-md-4 text-center border-success">
          <div class="card">
            <img class="card-img-top" src="https://www.publicdomainpictures.net/pictures/30000/velka/solid-green-background.jpg" alt="Card image cap" height="127">
            <div class="card-body">
              <h4 class="card-title">PRODUCT VARIETIES</h4>
              <p class="card-text">
                Due to the country’s diverse climatic regions, Sri Lanka produces a 
                wide variety of fruits, nuts, and vegetables.
                </p>
              <a href="https://www.srilankabusiness.com/fruits-and-vegetables/major-markets.html" class="btn btn-success">Get Details</a>
            <br>
            </div>
          </div>
        </div>
      </div>
  </div>
  