<br>
<div class="container">
    <div class="container">
        <div class="row">
          <div class="col-sm">
            <h1>Hi,Welcome {{firstName}}</h1>
          </div>
        </div>
      </div>
</div>
<br>
  <div class="col-md-6">
    <div class="card-mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-3">
            <h3 class="mb-0">Full Name</h3>
          </div>
          <div class="col-sm-9 text-secondary">
            {{fullName}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h3 class="mb-0">Email</h3>
          </div>
          <div class="col-sm-9 text-secondary">
           {{mail}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h3 class="mb-0">NIC number</h3>
          </div>
          <div class="col-sm-9 text-secondary">
            {{id}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h3 class="mb-0">Mobile</h3>
          </div>
          <div class="col-sm-9 text-secondary">
            (+94) {{phone}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h3 class="mb-0">Address</h3>
          </div>
          <div class="col-sm-9 text-secondary">
           {{address}}
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-sm-3">
            <h3 class="mb-0">Home town</h3>
          </div>
          <div class="col-sm-9 text-secondary">
           {{hometown}}
          </div>
        </div>
      </div>
    </div>
    <br>




