
<div class="bg-light">
    <div class="container py-5">
      <div class="row h-100 align-items-center py-5">
        <div class="col-lg-6">
          <h1 class="text-success">Keels Super.</h1>
          <h2 class="lead text-muted mb-0">Hello
            Log into</h2>
            <h2 class="lead text-muted mb-0">
              your account for a</h2>
              <h2 class="lead text-muted mb-0">
                quick and easy</h2>
              <h2 class="lead text-muted mb-0">
                selling
                experience</h2>
            <h2 class="lead text-muted mb-0">
            Happy selling! 
            </h2>
            <br>
            <a (click)="login()" class="btn btn-success px-5 rounded-pill shadow-sm">Login</a>
        </div>
        <div class="col-lg-6 d-none d-lg-block"><img src="https://raw.githubusercontent.com/lahiruroot/lahiruroot/main/with.png" alt="" class="img-fluid"></div>
      </div>
    </div>
  </div>
  <!--message-->
  